{deps, [{grpcbox, "0.16.0"}]}.

{grpc, [{protos, "protos"}, {gpb_opts, [{module_name_suffix, "_pb"}]}]}.

{plugins, [grpcbox_plugin, {rebar3_dialyzer_html, "0.2.0"}]}.

{project_plugins, [covertool, rebar3_format, rebar3_lint]}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts,
 [warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warn_obsolete_guard,
  warnings_as_errors,
  debug_info,
  {parse_transform}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  warnings_as_errors,
  deprecated_functions]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

%% create junit xml for circleci
{ct_opts, [{ct_hooks, [cth_surefire]}]}.
